<!DOCTYPE html>
<html>

<head>
 <title>Weather</title>
 <link rel="stylesheet" href="../../css/styles.css">  
 <link rel="icon" href="../../image/weather.png">
 <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '291827158760927',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


</head>

<body>

<div class="mainContainer">
  {{>header}}
  <p>{{weatherReport}}</p>
  <form>
    <input placeholder="Enter City"/>
    <button>Submit</button>
  </form>
  <p id="messageError">

  </p>
  <p id="messageReport">
  </p>
</div>

{{>footer}}

 <script src="../js/index.js" ></script>
</body>
</html>